html, body{
    height: 100%;
    width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

:root {
  --blue-color: rgb(47, 85, 151);
  --purple-color: rgb(156, 12, 115);
  --green-color: rgb(84, 130, 53);
  --ZoomColor: var(--blue-color);
}

.default {
	position:absolute;	
	z-index: 2;
	position:absolute;
	visibility:hidden;
	pointer-events:none; 
}

#Wrapper{
	margin-bottom: 41px;
	margin-right: 19px;
}

#Canvas {
	position:absolute;
	z-index: 1;
	height: 98%;
    width: 99%;
	border: 1px solid  #4F81BD;
  }
 
 
 /* Deactivated */
 #MazorDeActivated  {
	  width: 92px;
	  height: 92px;
  }
 
 svg.MazorCircle {
	stroke: grey;
	stroke-width:1px;
	fill:transparent;
	padding-left:1px;
	padding-top:1px;
	width: 92px;
	height: 92px;
	pointer-events:none; 
  }
  
/* Activated */
 #CursorBall  {
	 z-index:3;

  }
 
  svg.CursorBall {
	stroke: grey;
	stroke-width:1px;
	fill:var(--blue-color);
	padding-left:1px;
	padding-top:1px;
	width: 20px;
	height: 20px;
	pointer-events:none; 
  }
  
#InnerCircle {
	width: 88px;
	height: 92px;
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
  }
  
#OuterCircle {
	width: 88px;	
	height: 92px;
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
  }
  
 /* Closer */ 
#Close {
	width: 13px;
	height: 13px;
}

#Close:before, #Close:after {
	position: absolute;
	left: 5px;
	content: ' ';
	height: 13px;
	width: 2px;
	background-color: #333;
}
#Close:before {
	transform: rotate(45deg);
}
#Close:after {
	transform: rotate(-45deg);
}

#MagnifyingGlass{
	z-index:4;

}

svg.MagnifyingGlass {
	stroke: var(--ZoomColor);
	stroke-width:1.5px;
	fill:white;
	padding-left:1px;
	padding-top:1px;
	width: 20px;
	height: 20px;
	pointer-events:none; 
  }

#MagnifyingGlass:before {
	position: absolute;
	left: -5px;
	top: 12px;
	content: ' ';
	height: 13px;
	width: 4px;
	background-color: var(--ZoomColor);
	transform: rotate(55deg);
}

#PanIcon{
	z-index:3;
	top:50px;
	left:50px;
}

svg.PanIcon {
	stroke: var(--blue-color);
	stroke-width:1.5px;
	fill: white;
	padding-left:1px;
	padding-top:1px;
	width: 20px;
	height: 20px;
	pointer-events:none; 
  }

#PanIconImage {
	left:3px;
	top:3px;
}

#PanIconImage img {
	width:14px;
	height:14px;
}



